/* Footer Styles */
footer {
    position: relative !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    width: 100% !important;
    bottom: 0 !important;
    z-index: 1 !important;
}

.social-media .logo {
    width: 32px;
    height: 32px;
}