/* General Styles */
@media (prefers-reduced-motion: no-preference) {
    * {
        scroll-behavior: smooth;
    }
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    flex: 1;
}

* {
    background-color: black !important;
    color: white;
    font-family: Arial, sans-serif; /* Add a common font fallback */
}

/* Hide Scrollbar Styles */
body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body:not(header) {
    margin-top: 70px;
}

/* Styling for Anchor Tags */
a {
    color: white; /* Change as needed */
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    margin: 0 15px;
    padding: 10px 20px;
    position: relative; /* Add relative positioning */
    transition: font-size 0.3s, color 0.3s;
    display: inline-block; /* Self */
    overflow: hidden; /* Self */
    letter-spacing: 4px; /* Self */
}

a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; /* Initial position of the underline */
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0); /* Start with no underline */
    transform-origin: left;
    transition: transform 0.3s, bottom 0.3s;
}

a:hover {
    font-size: 125%; /* Enlarge the text by 25% */
    color: #ffc107; /* Change the color on hover */
}

a:hover:after {
    transform: scaleX(1); /* Show the underline on hover */
    bottom: -8px; /* Move the underline further down on hover */
}

/* Centering and Equal Width for Sections */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 80%; /* Adjust as needed */
    margin: 20px auto; /* Add some space between sections */
    padding: 40px; /* Self */
    border-radius: 10px; /* Self */
}

/* More Info Button Animation */

a.more-info-button:hover {
    background: #03e9f4;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
}
.more-info-button a span {
    position: absolute;
    display: block;
}

.more-info-button a span:nth-child(1), .more-info-button a span:nth-child(2),
.more-info-button a span:nth-child(3), .more-info-button a span:nth-child(4) {
    width: 100%;
    height: 2px;
    position: absolute;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim 1s linear infinite;
}

@keyframes btn-anim {
    0% {
        transform: translate(-100%, 0);
    }
    50%, 100% {
        transform: translate(100%, 0);
    }
}

/* Project Styles */
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.project {
    width: calc(50% - 20px);
    margin-bottom: 40px;
    position: relative;
}

.project-image img {
    max-width: 100%;
    height: auto;
    display: block;
}

.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s;
}

.project-overlay:hover {
    opacity: 1;
}

.project-overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

/* Media Query for Responsiveness */
@media (max-width: 768px) {
    .projects {
        padding: 10px;
    }

    .project {
        width: 100%;
        margin-bottom: 20px;
    }
}

/* Responsive Styles */
@media (max-width: 599px) {
    .link {
        display: inline-block;
    }
}